body,
html {
  margin: 0 auto;
  width: 100%;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.pull-content-right {
  text-align: right;
}
.center-content {
  text-align: center;
}
.big-greeting {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background: #ddd url("../../img/sprinkles.png");
}
.big-greeting .heading {
  font-size: 80px;
  margin: 10% auto 0 auto;
}
.big-greeting .heading h1 {
  width: 100%;
}
.big-greeting .heading h4 {
  width: 100%;
}
@media screen and (max-width: 675px) {
  .big-greeting .heading {
    font-size: 40px;
  }
}
.footing {
  font-size: 80px;
}
#navigation {
  margin-bottom: 0;
}
#application-container {
  position: absolute;
  height: 100%;
  top: 100%;
  width: 100%;
}
#application-container .container {
  height: 100%;
  position: relative;
}
#application-container .container > .row {
  height: 100%;
  background-color: #fff;
  padding-top: 65px;
}
#application-container .container > .row .row {
  margin-bottom: 15px;
}
#application-container .container > .row .secondary-heading {
  margin-bottom: 30px;
}
.connect-icons > .fa {
  margin-right: 10px;
  cursor: pointer;
}
.connect-icons > .fa.grow {
  -webkit-animation: grow 0.5s;
  -moz-animation: grow 0.5s;
  -o-animation: grow 0.5s;
  -ms-animation: grow 0.5s;
  animation: grow 0.5s;
}
.connect-icons > .fa:hover {
  color: #008cba;
}
.connect-icons > .fa:last-child {
  margin-right: 0;
}
.connect-icons > .fa.fa-google-plus-square:hover {
  color: #f04124;
}
.profile-pic {
  -webkit-border-radius: 75px;
  border-radius: 75px;
  border: 1px solid #ededed;
  margin-top: 30px;
}
@-moz-keyframes grow {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  50% {
    -webkit-transform: scale(1.5) rotate(-29deg);
    -moz-transform: scale(1.5) rotate(-29deg);
    -o-transform: scale(1.5) rotate(-29deg);
    -ms-transform: scale(1.5) rotate(-29deg);
    transform: scale(1.5) rotate(-29deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  50% {
    -webkit-transform: scale(1.5) rotate(-29deg);
    -moz-transform: scale(1.5) rotate(-29deg);
    -o-transform: scale(1.5) rotate(-29deg);
    -ms-transform: scale(1.5) rotate(-29deg);
    transform: scale(1.5) rotate(-29deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@-o-keyframes grow {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  50% {
    -webkit-transform: scale(1.5) rotate(-29deg);
    -moz-transform: scale(1.5) rotate(-29deg);
    -o-transform: scale(1.5) rotate(-29deg);
    -ms-transform: scale(1.5) rotate(-29deg);
    transform: scale(1.5) rotate(-29deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@-ms-keyframes grow {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  50% {
    -webkit-transform: scale(1.5) rotate(-29deg);
    -moz-transform: scale(1.5) rotate(-29deg);
    -o-transform: scale(1.5) rotate(-29deg);
    -ms-transform: scale(1.5) rotate(-29deg);
    transform: scale(1.5) rotate(-29deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@keyframes grow {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  50% {
    -webkit-transform: scale(1.5) rotate(-29deg);
    -moz-transform: scale(1.5) rotate(-29deg);
    -o-transform: scale(1.5) rotate(-29deg);
    -ms-transform: scale(1.5) rotate(-29deg);
    transform: scale(1.5) rotate(-29deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
