html {
  height: 100%;
}
body {
  height: 100%;
}
body.fixed-nav {
  padding-top: 45px;
}
.pull-content-right {
  text-align: right;
}
.center-content {
  text-align: center;
}
.editable {
  border-bottom: 1px dotted #000;
}
#mainWrapper,
#homeCollectionWrapper,
#homeDetailWrapper,
#homeDetailOverView,
#homeApplicantWrapper,
#homeApplicantCollection,
#homeApplicantDetail {
  height: 100%;
}
.fixedMenuArea,
.homeCollectionWrapper,
.homeDetailWrapper,
.homeApplicantWrapper,
.homeApplicantCollection {
  height: 100%;
  overflow-y: scroll;
}
.homeCollectionWrapper,
.homeApplicantCollection {
  border-right: 1px solid #ccc;
  padding-right: 0;
}
.homeDetailWrapper {
  padding-left: 0;
}
.homeCollectionWrapper--search,
.homeCollectionWrapper--list .list-group-item,
.homeApplicantCollection--list .list-group-item,
.homeApplicantCollection--search {
  margin: 3px;
}
.homeApplicantWrapper {
  overflow-y: visible;
  border-top: 1px solid #ccc;
}
.homeDetailOverView {
  position: relative;
  padding: 10px 20px;
  overflow-y: visible;
}
.applicants-button {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.overview-button {
  position: absolute;
  top: 0;
  right: 20px;
}
.gold-badge {
  background: #ffd700;
  color: #4d4100;
}
.silver-badge {
  background: #ccc;
  color: #3d3d3d;
}
.bronze-badge {
  background: #998100;
  color: #ffee94;
}
.list-group-item.active {
  color: #efefef;
  background-color: #008cba;
}
.list-group-item.active .fa {
  color: #fff;
}
.homeDetailOverView .row {
  padding: 15px 0;
}
.homeDetailOverView .row .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
.toggle-label {
  line-height: 35px;
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.toggle {
  position: relative;
  width: 100px;
  height: 35px;
  -webkit-transition: background-color 0.1s ease-out-in;
  -moz-transition: background-color 0.1s ease-out-in;
  -o-transition: background-color 0.1s ease-out-in;
  -ms-transition: background-color 0.1s ease-out-in;
  transition: background-color 0.1s ease-out-in;
  display: inline-block;
}
.toggle.toggle-on {
  background-color: #43ac6a;
}
.toggle.toggle-on .toggle-switch {
  left: 0;
}
.toggle.toggle-on .toggle-switch .btn:before {
  content: 'On';
}
.toggle.toggle-off {
  background-color: #f04124;
}
.toggle.toggle-off .toggle-switch {
  left: 50%;
}
.toggle.toggle-off .toggle-switch .btn:before {
  content: 'Off';
}
.toggle .toggle-switch {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 100%;
  width: 50%;
}
.toggle .toggle-switch .btn {
  height: 100%;
  width: 100%;
  outline: none;
}
#coverPicImg {
  padding: 3px;
  border: 1px dotted #ccc;
}
.listing-stats {
  padding-top: 35px;
}
.applicant-number {
  vertical-align: bottom;
}
.homeApplicantDetailWrapper {
  padding-top: 20px;
}
