@import "nib"

body, html
	margin 0 auto
	width 100%
	background-color white
	color #333
	position absolute
	top 0
	left 0
	bottom 0

.row
	margin-bottom 15px

.pull-content-right
	text-align right

.center-content
	text-align center;

.big-greeting
	display block
	width 100%
	height 100%
	min-width 100%
	min-height 100%
	text-align center
	color whtie
	position fixed
	background-size(cover)
	background #ddd url('../../img/sprinkles.png')
	& .heading
		width 100%
		font-size 80px
		position relative
		margin 10% auto 0 auto
		z-index 999

.footing
	width 100%
	font-size 80px

#application-container
	position absolute
	background-color white
	top 100%
	width 100%
	border-top 2px solid #222
	border-top 2px solid rgba(0,0,0,0.3)
	& .container > .row
		margin-top 50px
		margin-botttom 50px
		& .secondary-heading
			margin-bottom 30px

.connect-icons
	& > .fa
		margin-right 10px
		cursor pointer
		&.grow
			animation(grow .5s)
		&:hover
			color #008CBA
		&:last-child
			margin-right 0
		&.fa-facebook-square
			&:hover
				darken(#008CBA, 20)
		&.fa-google-plus-square 
			&:hover
				color #F04124


.profile-pic
	border-radius(75px)
	border: 1px solid #ededed
	margin-top 30px

@keyframes grow
	0%
		transform(scale(1) rotate(0deg))
	50%
		transform(scale(1.5) rotate(-29deg))
	100%
		transform(scale(1) rotate(0deg))
