@import "nib"

body, html
	margin 0 auto
	width 100%
	color #333
	position absolute
	top 0
	left 0
	bottom 0

.pull-content-right
	text-align right

.center-content
	text-align center;

.big-greeting
	height 100%
	min-width 100%
	min-height 100%
	text-align center
	position fixed
	background-size(cover)
	background #ddd url('../../img/sprinkles.png')
	& .heading
		font-size 80px
		margin 10% auto 0 auto
		& h1
			width 100%
		& h4
			width 100%
		@media screen and (max-width: 675px)
			font-size 40px

.footing
	font-size 80px

#navigation
	margin-bottom 0

#application-container
	position absolute
	height 100%
	top 100%
	width 100%
	& > div
		height 100%
		position relative
		& > .row
			height 100%
			background-color white
			padding-top 75px
			& .row
				margin-bottom 15px
			& .secondary-heading
				margin-bottom 30px

.connect-icons
	& > .fa
		margin-right 10px
		cursor pointer
		&.grow
			animation(grow .5s)
		&:hover
			color #008CBA
		&:last-child
			margin-right 0
		&.fa-facebook-square
			&:hover
				darken(#008CBA, 20)
		&.fa-google-plus-square 
			&:hover
				color #F04124


.profile-pic
	border-radius(75px)
	border: 1px solid #ededed
	margin-top 30px

@keyframes grow
	0%
		transform(scale(1) rotate(0deg))
	50%
		transform(scale(1.5) rotate(-29deg))
	100%
		transform(scale(1) rotate(0deg))
